

body {
    margin-top: -70px;
    font-size: 1rem;
}

p {
    font-family: "Archivo";
}

.width-constraint {
	width: 80%;
	margin: auto;
}

.navbar {
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px !important;
    transition: 0.6s;
    -webkit-transition: 0.6s; /*for safari*/
    background-color: white;
    opacity: .7;
}

.navbar-brand {
    font-size: 2em;
    font-family: "Karla";
}

.nav-item {
    font-size: 1.5em;
    margin-left: 20px;
    font-family: "Karla";
}

.home{
    background: url("images/gavelbg.png");
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 30vh;
    padding-bottom: 20vh;
}


h1, h2, .title, .subtitle {
    font-family: "Karla";
}

/* SECTION STYLES */

.section {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 70px;
    padding-top: 70px;
}
.general-info {
    background-color: #FCE181;
}

.faq-info {
    background-color: #C2CAD0;
}

.curriculum-info {
    background-color: #FCE181;
	text-align: center;
}

	.curriculum-info p {
    		text-align: left;
	}

.team-info {
    background-color: white;
}

.team-info p {
    font-size: .9rem;
}

.contact-info {
    text-align: center;
    background-color: lightgray;
}

    .contact-info p {
        font-family: "Karla";
    }

.footer {
    text-align:center;
    background-color: black;
    font-size: 1rem;
    color: white;
}

    .footer p {
        margin-bottom: .5rem;
        font-family: "Karla";
    }

.col-lg {
    margin: 20px;
}

/* TEXT STYLES */

.title {
    font-size: 5rem;
    font-weight: 600;
    /*	text-shadow:
		-1px -1px 0 lightgrey,
		1px -1px 0 lightgrey,
		-1px 1px 0 lightgrey,
		1px 1px 0 lightgrey;*/
}

.title.fadeInDown {
	animation-delay: .4s;
}

.subtitle {
    font-size: 2rem;
    font-weight: 400;
    /*text-shadow:
		-1px -1px 0 lightgrey,
		1px -1px 0 lightgrey,
		-1px 1px 0 lightgrey,
		1px 1px 0 lightgrey;*/
}

.subtitle.fadeInDown {
	animation-delay: 1.4s;
}

h1 {
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 30px;
}

h2 {
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
}

/* BUTTON STYLES */
.btn-warning {
    background-color: transparent;
	border-color: gray;
	padding: 15px;
	font-size: 1.5rem;
	margin: 5px;
}

.btn-warning.fadeInDown {
	animation-delay: 2s;
}

.btn-warning:hover {
	background-color: #20bf6b;
	border-color: #20bf6b;
	transition: all 0.4s ease 0s;
}

.btn-primary {
	text-align: center;
	background-color: #85C1E9;
	border-color: gray;
	padding: 15px;
	font-size: 1.5rem;
}

.btn-primary.fadeInDown {
	animation-delay: 2.5s;
}

.btn-primary:hover {
	transition: all 0.4s ease 0s;
}

/* DROPDOWN MENU */

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active, .collapsible:hover {
 	background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* MISC */
i {
    margin: 9px;
}

img {
    width: 230px;
    height: 270px;
    padding-bottom: 20px;
    transition: all 0.4s ease 0s;
}

    .team-info img:hover {
        width: 240px;
        height: 280px;
        
    }

