body {
    font-size: 1rem;
}

.width-constraint {
	width: 80%;
	margin: auto;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px !important;
    transition: 0.6s;
    -webkit-transition: 0.6s; /*for safari*/
    background-color: rgba(255,255,255,0.3);
}

/* scroll spy */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: #F0AD4E !important;
	background-color: rgba(0,0,0,0);
}

.home{
    background: url("images/generic_pen.png");
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 30vh;
    padding-bottom: 20vh;
}

/* SECTION STYLES */

.general-info {
	padding-right: 50px;
	padding-left: 50px;


}

/* TEXT STYLES */

.title{
    font-size: 5rem; 
	text-shadow:
		-1px -1px 0 lightgrey,
		1px -1px 0 lightgrey,
		-1px 1px 0 lightgrey,
		1px 1px 0 lightgrey;
}

.subtitle {
	font-size: 2rem;
	text-shadow:
		-1px -1px 0 lightgrey,
		1px -1px 0 lightgrey,
		-1px 1px 0 lightgrey,
		1px 1px 0 lightgrey;
}


/* BUTTON STYLES */
.btn-warning {
    background-color: transparent;
	border-color: gray;
	padding: 15px;
	font-size: 1.5rem;
	margin: 5px;
}

.btn-warning:hover {
	background-color: #20bf6b;
	border-color: #20bf6b;
	transition: all 0.4s ease 0s;
}

.btn-primary {
	text-align: center;
	background-color: #85C1E9;
	border-color: gray;
	padding: 15px;
	font-size: 1.5rem;
}

.btn-warning:hover {
	transition: all 0.4s ease 0s;
}